#photo
  .selfies
    display block
    margin 0 auto
    width 100%
    text-align center
    color steelblue
    padding-bottom 10px
  .picture
    width 100%
    position relative
    .client-img
      pointer-events none
      user-select none
      width 100%
      object-fit cover
      z-index 1
      height 250px
    .add-wrap
      margin-top 20px
      height 140px
      width 100%
      .circle
        position relative
        width 120px
        height 120px
        border-radius 50%
        background-color gainsboro
        margin 0 auto
        overflow hidden
        .img
          width 80px
          margin 0 auto
        .img-sel
          width 120px
          height 120px
          margin 0 auto
          img
            pointer-events none
            user-select none
            object-fit cover
            height 120px
            width 120px
  .buttons
    width 100%
    .yes
      display block
      margin 0 auto
      width 60%
      height 40px
      border-radius 20px
      border 2px solid grey
      background-color whitesmoke
      color steelblue
    input
      position absolute
      opacity 0
      width 60%
      height 40px
      border none
      margin-top -40px
      border-radius 50%
      left 20%
    h1
      text-align center
      padding 5px 0
      color grey
      width 100%
    .not_now
      display block
      margin 0 auto
      width 40%
      height 30px
      border-radius 20px
      border 2px solid grey
      background-color rgba(255, 0, 0, 0.4)
      color rgb(255, 74, 73)
  .btns-wrap
    width 100%
    padding-top 20px
    .btn
      display inline-block
      width 50%
      padding-top 30px
      button
        display block
        margin 0 auto
        width 60%
        height 40px
        border-radius 20px
        border 2px solid grey
        background-color white
        a
          color #6b6b6b
          text-decoration none
