.layout
  display flex
  flex-direction column
  padding-top 3.5rem
  max-width 640px
  min-height 100vh
  overflow hidden
  -webkit-box-shadow 0px 0px 6px 0px rgba(94, 54, 177, 0.75)
  -moz-box-shadow 0px 0px 6px 0px rgba(94, 54, 177, 0.75)
  box-shadow 0px 0px 6px 0px rgba(94, 54, 177, 0.75)
  background-color var(--sec-color)
  margin 0 auto
  header
    background-image linear-gradient(107deg, #9370e6 3%, #7534f8 40%, #4f2da7 87%)
    display flex
    height 3.5rem
    position fixed
    max-width 640px
    margin 0 auto
    top 0
    width 100%
    z-index 20
    align-items center
    justify-content center
    img
      width 2rem
      height 2rem
      -moz-margin-end 0.5rem
      -webkit-margin-end 0.5rem
      margin-inline-end 0.5rem
    h2
      margin 0
      color var(--white-color)
      font-size 1.25rem
      font-weight 500
  .main-container
    display flex
    flex-direction column
    align-items center
    flex-grow 1
    background transparent linear-gradient(0deg, #EFEFFF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box
  .window_halper
    display flex
    flex-direction column
    align-items center
    padding-top 4.8rem
    overflow hidden
    width 9rem
    border-radius 0 0 100% 100%
    .window
      width 7.5rem
      height 7.5rem
      border-radius 50%
      position relative
    .window:before
      content: ''
      opacity 0.35
      width 7.5rem
      height 7.5rem
      border-radius 50%
      background-image linear-gradient(to bottom, #f0e8ff, #b195ed 47%, #875de1 70%, #361181)
      position absolute
      top 0
      left 0
    .hand
      position absolute
      bottom: -130%
      left -35%
      height 20.5rem
      z-index 1
      opacity 0
  .title_text
    font-size 1.5rem
    opacity 0
    padding 1rem 0 0.3rem
    font-weight bold
    animation title_text 0.5s forwards
    animation-delay 1s
    p
      margin 0
      padding 0 1.5rem
      line-height 1.2
      text-align center
@keyframes title_text
  0%
    transform scale(0)
  100%
    opacity 1
    transform scale(1)
@keyframes page_animation_ltr
  0%
    transform translateX(100%)
@keyframes page_animation_rtl
  0%
    transform translateX(100%)
body[style="direction: ltr;"]
  #fill-in, #last_page
    animation page_animation_ltr 0.3s
body[style="direction: rtl;"]
  #fill-in, #last_page
    animation page_animation_rtl 0.3s