*
  box-sizing border-box
body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  line-height 1.42857143
  color #333
  background-color #fff
  margin 0
  min-width 414px
.h1, h1
  font-family inherit
  font-weight 500
  line-height 1.1
  color inherit
  margin 0
.h1, h1, button, input
  font-size 21px
  &:focus
    outline none
.right
  float right
.left
  float left
.hidden, #hidden
  display none
.bullets
  margin 0 auto
  width 36px
  padding-top 10px
  .bullet
    width 10px
    height 10px
    border-radius 50%
    background-color grey
    display inline-block
    margin 0 1px
  .active
    background-color red
.validationTrue
  &:before
    position absolute
    content '\2714'
    font-size 20px
    color green
    right 10px
    top 75px
    z-index 50
.validationFalse
  &:before
    position absolute
    content '\2718'
    font-size 20px
    color red
    right 10px
    top 75px
    z-index 50
