@import 'variables.css';
*
  box-sizing border-box
body
  font-family var(--font-family)
  font-size 14px
  line-height 1.42857143
  color var(--main-color)
  background-color #fff
  margin 0
h1
  margin 0
input
  outline none
.hidden, #hidden
  display none
.bullets
  margin 0 auto
  width 48px
  padding-top 10px
  .bullet
    width 10px
    height 10px
    border-radius 50%
    background-color grey
    display inline-block
    margin 0 1px
  .active
    background-color red
