:root{
  --main-color: #4b4b4b;
  --main-bgcolor: #5e36b1;
  --sec-color: #efefff;
  --sec-bgcolor: #bfafe0;
  --white-color: #fff;
  --active-color: #ff358c;
  --inactive-color: #e4e4f9;
  --dark-color: #4f2da7;
  --dark-active-color: #653bcc;
  --aquamarine: #50e3c1;
  --main-lite-color: #7e839f;
  --fb-btn-color: #1877f2;
  --font-family: "San Francisco", "Lucida Grande", "Helvetica Neue", Roboto, -apple-system, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", Arial, sans-serif;
}
