#home
  overflow hidden
  width 100%
  .welcome, .be_glad, .skip, .or_fill
    display block
    margin 0 auto
    width 100%
    text-align center
    color #6b6b6b
    padding-bottom 10px
  .skip
    color steelblue
    padding-bottom 5px
  .soc_net
    width 100%
    .facebook-wrap
      width 65%
      height 50px
      margin 0 auto
      background-color steelblue
      border-radius 5px
      img
        display inline-block
        margin 10px
        width 30px
        height 30px
      h1
        display inline-block
        position relative
        top -18px
        font-weight 600
        color white
  .sep
    margin-top 20px
    width 100%
    height 20px
    background-color whitesmoke
    text-align center
    span
      color grey
      font-size 20px
      position relative
      top -4px
  .or_fill
    padding-top 15px
  .inputs
    width 90%
    margin 0 auto
    input
      width 100%
      height 50px
      margin 5px 0
      border-radius 10px
      border-top 1px solid grey
      border-left 1px solid grey
      border-right 2px solid grey
      border-bottom 2px solid grey
      padding 5px
  .btn-wrap
    width 100%
    padding-top 20px
    button
      display block
      margin 0 auto
      width 50%
      height 40px
      border-radius 20px
      border 2px solid grey
      background-color white
      a
        color #6b6b6b
        text-decoration none
