#home
  .welcome, .be_glad, .skip, .or_fill
    text-align center
    color #6b6b6b
    padding-bottom 0.6rem
  p
    font-size 1.3rem
    margin 0
  .skip
    color steelblue
    padding-bottom 5px
  .soc_net
    display flex
    justify-content center
    .facebook-wrap
      display flex
      outline none
      align-items center
      border none
      padding 0.6rem 0
      padding-inline-end 0.6rem
      background-color steelblue
      border-radius 0.4rem
      img
        display block
        width 1.8rem
        height 1.8rem
      p
        display inline-block
        position relative
        font-weight 600
        color white
  .sep
    margin-top 1.25rem
    background-color whitesmoke
    text-align center
    span
      color grey
      font-size 1.25rem
  .or_fill
    padding-top 1rem
  .inputs
    width 90%
    margin 0 auto
    .input_wrap
      padding 0.7rem
      margin 0.8rem 0
      border-radius 0.6rem
      border 1px solid grey
      transition border-color 0.5s
      input
        padding 0
        width 100%
        margin 0
        border none
        background-color transparent !important
    .input_wrap.notValidEmail
      border 1px solid red
  .btn-wrap
    padding-top 20px
    button
      display block
      margin 0 auto
      width 50%
      height 40px
      border-radius 20px
      border 2px solid grey
      background-color white
      a
        color #6b6b6b
        text-decoration none

