#last_page
  .thanks
    width 100%
    text-align center
    padding 10px
    color deepskyblue
    font-size 30px
  .like_wrap
    width 80px
    margin 0 auto
    img
      width 80px
      height 80px
  .glad_see, .bus_name
    width 100%
    padding 10px
    color deepskyblue
    text-align start
  .text-wrap
    .icon
      display inline-block
      width 15%
      padding 10px
      img
        position relative
        width 40px
        top -20px
      .house
        top -10px
    .text
      display inline-block
      width 85%
      color grey
      .address
        color deepskyblue
  .links
    width 160px
    margin 0 auto
    img
      width 80px
      height 80px
      padding 15px
  // .btn-wrap
  //   width 100%
  //   padding-top 20px
  //   button
  //     display block
  //     margin 0 auto
  //     width 50%
  //     height 40px
  //     border-radius 20px
  //     border 2px solid grey
  //     background-color white
  //     color #6b6b6b
