#last_page
  display flex
  flex-direction column
  align-items center
  .hand
    animation lastPage 0.5s forwards
    animation-delay 0.5s
  .thanks
    width 100%
    text-align center
    padding 10px
    color deepskyblue
    font-size 30px
  .like_wrap
    width 80px
    margin 0 auto
    img
      width 80px
      height 80px
  .glad_see, .bus_name
    width 100%
    padding 10px
    color deepskyblue
    text-align start
  .text-wrap
    .icon
      display inline-block
      width 15%
      padding 10px
      img
        position relative
        width 40px
        top -20px
      .house
        top -10px
    .text
      display inline-block
      width 85%
      color grey
      .address
        color deepskyblue
  .links
    width 160px
    margin 0 auto
    img
      width 80px
      height 80px
      padding 15px
@keyframes lastPage
  0%
    transform translate(20%, 50%)
    opacity 1
  100%
    transform translate(0%, 0%)
    opacity 1
