#last_page
  display flex
  flex-direction column
  align-items center
  flex-grow 1
  p
    margin 0
  .hand
    animation lastPage 0.5s forwards
    animation-delay 0.5s
  .title_text
    animation-delay 0.5s
  .subtitle_text
    font-size 1rem
    width 75%
    text-align center
    padding 0.5rem 0 1.5rem
    color var(--main-lite-color)
  .address-strip
    display flex
    flex-direction column
    align-items center
    .address_text
      font-size 0.75rem
      text-transform uppercase
      font-weight bold
    .address_label
      display flex
      align-items center
      justify-content center
      padding 0.2rem 2rem 0
      p
        font-size 1rem
        color var(--dark-color)
        line-height 1
        text-align center
      img
        -moz-margin-end 0.5rem
        -webkit-margin-end 0.5rem
        margin-inline-end 0.5rem
  .links
    display flex
    padding-top 3.875rem
    align-items center
    a
      display flex
      align-items center
      border-radius 50%
      justify-content center
      width 3.25rem
      height 3.25rem
      margin 0 0.5rem
      opacity 0
      animation links 0.5s forwards
      animation-delay 1.5s
    .website
      box-shadow 0 15px 20px 0 rgba(87, 1, 224, 0.16)
      background-image linear-gradient(to bottom, #ffffff 18%, #e6dffc)
    .instagram
      box-shadow 0 15px 20px 0 rgba(224, 1, 149, 0.16)
      background-image linear-gradient(to bottom, #ffffff 18%, #ffdef0)
    .facebook
      box-shadow 0 15px 20px 0 rgba(26, 120, 242, 0.16)
      background-image linear-gradient(to bottom, #ffffff 18%, #deedff)
  .footer
    display flex
    height 1.75rem
    position fixed
    max-width 640px
    margin 0 auto
    bottom 0
    width 100%
    opacity 0
    animation footer 0.5s forwards
    animation-delay 1.5s
    align-items center
    padding 0 1.125rem
    justify-content space-between
    background-image linear-gradient(104deg, #9370e6 -32%, #7534f8 32%, #4f2da7 115%)
    a
      display flex
      align-items center
      text-decoration none
      color var(--white-color)

    
@keyframes links
  0%
    transform scale(0)
    opacity 1
  100%
    opacity 1
@keyframes footer
  0%
    opacity 1
    transform translateY(100%)
  100%
    opacity 1
@keyframes lastPage
  0%
    transform translate(20%, 50%)
    opacity 1
  100%
    transform translate(0%, 0%)
    opacity 1
