.gender_item
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  border-radius 1rem
  background-color var(--sec-color)
  border 1px solid var(--white-color)
  width 28%
  height 10rem
  z-index 10
  padding 1.125rem 0 1rem
  transition transform 0.3s
  p
    margin 0
    font-size 0.875
    color var(--main-lite-color)
    padding-bottom 0.2rem
  .avatar_wrap
    width 3.375rem
    height 3.375rem
    display flex
    align-items center
    border-radius 50%
    justify-content center
    background-color var(--white-color)
    img
      animation inactive_photo 0.3s
  .select
    width 1.125rem
    height 1.125rem
    border solid 1px #c5cee0
    transition border-width 0.3s
    border-radius 50%
    background-color var(--white-color)
  .type_wrap
    display flex
    flex-direction column
    align-items center
    padding-top 1.875rem
.selected_gender
  transform scale(1.1)
  box-shadow 0 20px 20px 0 rgba(41, 41, 204, 0.16)
  background-color var(--white-color)
  transition transform 0.3s
  p {
    font-size 1rem
    font-weight 500
    color var(--dark-active-color)
  }
  .avatar_wrap
    width 4.125rem
    height 4.125rem
    border solid 2px var(--dark-active-color)
    img
      animation active_photo 0.3s
  .select
    border solid 6px var(--dark-active-color)
    transition border-width 0.3s

@keyframes active_photo
  0%
    transform rotateY(180deg)
@keyframes inactive_photo
  0%
    transform rotateY(180deg)