#fill-in
  width 100%
  flex-grow 1
  background-color var(--sec-color)
  .client-picture
    height 12.5rem
    position relative
  .photo-section
    display flex
    width 100%
    height 100%
    background-size cover
  .added_photo
    width 100%
    height 100%
    will-change height
    opacity 0
    animation added_photo 0.3s forwards
    animation-delay 0.3s
    overflow hidden
    .client-img
      will-change transform
      position absolute
      width 100%
      height 100%
      object-fit cover
  .controls
    position absolute
    bottom 0
    left 0
    z-index 3
    width 100%
    display flex
    align-items center
    justify-content flex-end
    padding 1rem 0.5rem
    .control_btn
      width 2.375rem
      height 2.375rem
      border-radius 50%
      display flex
      align-items center
      justify-content center
      background-color rgba(0,0,0,0.3)
      margin 0 0.5rem
    .add_button
      position relative
      overflow hidden
    .add_button:before
      content: ''
      position absolute
      width 0.5rem
      height 0.5rem
      border 3px solid var(--white-color)
      border-radius 50%
      filter blur(4px)
      animation plus 4s infinite
      animation-delay 1s
      @keyframes plus
        0%
          width 0.5rem
          height 0.5rem
        25%
          width 0.5rem
          height 0.5rem
        35%
          width 3.5rem
          height 3.5rem
        60%
          width 3.5rem
          height 3.5rem
        70%
          width 0.5rem
          height 0.5rem
        100%
          width 0.5rem
          height 0.5rem
  .added_photo:after
    content ''
    z-index 2
    position absolute
    width 100%
    height 100%
    background-image: linear-gradient(to bottom, rgba(79, 45, 167, 0), rgba(40, 23, 84, 0.6))
  .deleteAnimation
    animation deleteAnimation 0.3s forwards
  .file_input
    display none
  .inputs
    width 100%
    padding 1rem
    margin-bottom 4.75rem
    .highlightInput
      background-color var(--dark-color)
    .input_wrap
      padding 0 1rem
      margin-bottom 0.75rem
      border-radius 0.5rem
      display flex
      height 3rem
      align-items center
      background-color var(--white-color)
      box-shadow 0 6px 12px 0 rgba(41, 41, 204, 0.12)
      border 2px solid var(--white-color)
      transition border-color 0.5s
      img
        -moz-margin-end 1rem
        -webkit-margin-end 1rem
        margin-inline-end 1rem
      input
        padding 0
        width 100%
        font-size 1rem
        margin 0
        border none
        background-color transparent !important
    .highlightInput
      border 2px solid  var(--dark-color)
    .warning
      transition border-color 0.5s
      border 2px solid var(--active-color)


@keyframes shine_star
  0%
    transform scale(0)
  23%
    opacity 0.8  
  46%
    opacity 0
    transform scale(1) rotate(360deg)
  54%
    opacity 0.4
  77%
    opacity 0.8
  100%
    opacity 0
    transform scale(0) rotate(0deg)
@keyframes deleteAnimation
  0%
    opacity 1
    height 12.5rem
  100%
    height 10rem
    transform scale(0)
    border-radius 50%
@keyframes added_photo
  0%
    height 10rem
    transform scale(0)
  100%
    opacity 1
    height 12.5rem
    transform scale(1)
